In [1]:
print("welcome")

welcome

## example

In [74]:
import  csv
from urllib.parse import urlparse
from urllib.parse import parse_qs
from urllib.parse import urlencode
import re
import pandas

def read1(path):
    with open(path,encoding='utf-8') as csvfile:
        readcsv = csv.reader(csvfile,delimiter = ',')
        i = 1
        df =pandas.DataFrame()
        for row in readcsv:
            if i>1:
                print(row[2])
                url = row[5]
                o = urlparse(url)
                query = parse_qs(o.query)
                regex=  re.compile('\d+')
                
                print(i,' ',regex.findall(row[2].replace(' ',''))[0],query.get('text')[0])
            i=i+1

def format_row(row,col_num): 
    regex=  re.compile('\d+')
    return regex.findall(row[col_num].replace(' ',''))[0]

def format_row2(row):
    o = urlparse(row[5])
    query = parse_qs(o.query)
    return query.get('text')[0]

def from_count(row,col_num,splt,nm=0,tp=0):
    if nm == 0:
        s = row[col_num].split(splt)        
        return len(s)
    else:
        s = row[col_num].replace('руб','').split(splt)          
        return s[nm].split('.')[tp].replace(' ','')
    
def from_city(row,col_num,splt,nm=0,xc='\D+'):
    if nm == 0:
        s = row[col_num].split(splt)          
        return len(s)
    else:
        s = row[col_num]
        regex =  re.compile(xc)
        return regex.findall(s)[nm]
              
def read2(path):
    df = pandas.read_csv(filepath_or_buffer = path,header=0)
    df['total']       = df.apply(lambda row: format_row(row,2),axis=1)
    df['with_salary'] = df.apply(lambda row: format_row(row,4),axis=1)
    df['lang']        = df.apply(lambda row: format_row2(row),axis=1)
    for i in range(1,6):
        col_grade           ='grade'+str(i)
        col_grade_count     ='with_grade'+str(i)+ '_count'
        df[col_grade]       = df.apply(lambda row: from_count(row,4,'от',i),axis=1)
        df[col_grade_count] =df.apply(lambda row: from_count(row,4,'от',i,1),axis=1)
    for i in range(1,21):
        col_city           ='top20_city'+str(i)
        col_city_count     ='top20_city'+str(i)+ '_count'
        df[col_city]       = df.apply(lambda row: from_city(row,1,' ',i),axis=1)
        df[col_city_count] = df.apply(lambda row: from_city(row,1,' ',i,'\d+\s'),axis=1)  
    print(df)
    
            
read2('C:\\Users\\Acer\\Downloads\\hh39thMar23_30.csv')

                                   my_column_3/_text  \
0                                   Java-разработчик
1                             JavaScript разработчик
2                                    Программист PHP
3                                     Программист 1C
4                                     Программист 1C
5                                   Python developer
6                       Senior Ruby/Python Developer
7  Тестировщик ручного тестирования автоматизиров...
8                                Hadoop/BI developer
9                                   Java-разработчик

                                           my_column              my_column_4  \
0  Россия3464 Москва1191 Санкт-Петербург637 Еще 1...   Найдено 4 373 вакансии
1  Россия4890 Москва1520 Санкт-Петербург777 Еще 1...   Найдено 6 277 вакансий
2  Россия2871 Москва864 Санкт-Петербург395 Еще 13...   Найдено 3 607 вакансий
3  Россия8939 Москва2741 Санкт-Петербург1095 Еще ...  Найдено 10 313 вакансий
4  Россия8939 Москва2741 Санкт-Петербург1095 Еще ...  Найдено 10 313 вакансий
5  Россия2042 Москва649 Санкт-Петербург341 Еще 12...   Найдено 2 399 вакансий
6  Россия602 Москва194 Санкт-Петербург84 Еще 93 У...     Найдено 759 вакансий
7  Россия6254 Москва2528 Санкт-Петербург816 Еще 1...   Найдено 7 444 вакансии
8  Россия216 Москва104 Санкт-Петербург45 Еще 47 У...     Найдено 259 вакансий
9  Россия259 Москва129 Украина64 Еще 54 Киев48 Са...     Найдено 372 вакансии

                                      my_column_3  \
0        http://hh.ru/vacancy/15701806?query=Java
1  http://hh.ru/vacancy/15914986?query=JavaScript
2         http://hh.ru/vacancy/15244579?query=php
3           http://hh.ru/vacancy/16235450?query=C
4           http://hh.ru/vacancy/16235450?query=C
5      http://hh.ru/vacancy/16229971?query=Python
6        http://hh.ru/vacancy/16231847?query=Ruby
7     http://career.ru/vacancy/16235321?query=SQL
8       http://hh.ru/vacancy/16203707?query=Scala
9          http://hh.ru/vacancy/15701806?query=Go

                                         my_column_2  \
0  Указана1393 от 60 000 руб.1147 от 110 000 руб....
1  Указана2949 от 45 000 руб.2447 от 80 000 руб.1...
2  Указана2190 от 40 000 руб.1810 от 80 000 руб.1...
3  Указана6253 от 40 000 руб.4045 от 75 000 руб.2...
4  Указана6253 от 40 000 руб.4045 от 75 000 руб.2...
5  Указана941 от 70 000 руб.746 от 120 000 руб.58...
6  Указана362 от 65 000 руб.312 от 110 000 руб.22...
7  Указана2386 от 45 000 руб.1941 от 80 000 руб.1...
8  Указана63 от 65 000 руб.52 от 115 000 руб.37 о...
9  Указана113 от 35 000 руб.87 от 70 000 руб.66 о...

                                             pageUrl  total with_salary  \
0  http://hh.ru/search/vacancy?text=Java&enable_s...   4373        1393
1  http://hh.ru/search/vacancy?text=JavaScript&en...   6277        2949
2  http://hh.ru/search/vacancy?text=php&enable_sn...   3607        2190
3  http://hh.ru/search/vacancy?text=C++&enable_sn...  10313        6253
4  http://hh.ru/search/vacancy?text=C#&enable_sni...  10313        6253
5  http://hh.ru/search/vacancy?text=Python&enable...   2399         941
6  http://hh.ru/search/vacancy?text=Ruby&enable_s...    759         362
7  http://hh.ru/search/vacancy?text=SQL&enable_sn...   7444        2386
8  http://hh.ru/search/vacancy?text=Scala&enable_...    259          63
9  http://hh.ru/search/vacancy?text=Go&enable_sni...    372         113

         lang grade1        ...                   top20_city16  \
0        Java  60000        ...                  Другие страны
1  JavaScript  45000        ...                         Алматы
2         php  40000        ...            Ульяновская область
3         C    40000        ...                         Алматы
4           C  40000        ...                         Алматы
5      Python  70000        ...                Республика Крым
6        Ruby  65000        ...            Саратовская область
7         SQL  45000        ...             Ростовская область
8       Scala  65000        ...            Саратовская область
9          Go  35000        ...           Республика Татарстан

  top20_city16_count            top20_city17 top20_city17_count  \
0                58          Томская область                55
1                90       Краснодарский край                86
2                49    Нижегородская область                47
3               183      Воронежская область               172
4               183      Воронежская область               172
5                31          Томская область                31
6                10    Нижегородская область                10
7               122                   Алматы               102
8                 3    Нижегородская область                 3
9                 5            Другие страны                 5

                top20_city18 top20_city18_count              top20_city19  \
0             Омская область                52         Ростовская область
1            Томская область                84        Харьковская область
2        Ярославская область                47        Харьковская область
3       Свердловская область               168    Республика Башкортостан
4       Свердловская область               168    Республика Башкортостан
5         Краснодарский край                30        Саратовская область
6             Омская область                 9            Томская область
7        Саратовская область                95             Омская область
8   Днепропетровская область                 2           Одесская область
9   Днепропетровская область                 3                     Гродно

  top20_city19_count          top20_city20 top20_city20_count
0                51        Республика Крым                49
1                83    Ярославская область                76
2                46    Челябинская область                45
3               155          Пермский край               109
4               155          Пермский край               109
5                30         Омская область                26
6                 9    Воронежская область                 9
7                94        Томская область                94
8                 2                Витебск                 2
9                 3    Челябинская область                 3

[10 rows x 59 columns]